body {
  background-color: #1a1a1a;
  font-family: "Mingzat", sans-serif;
  background-size: cover;
}

/*Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 13px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px;
  margin-bottom: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*<=====================================================>*/

/** All-Users **/

.all-users-container {
  display: flex;
  color: #1a1a1a;
  font-family: "Mingzat", sans-serif;
}
.heddings {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.all-users-content {
  width: 100%;
}
.all-users-tables {
  display: flex;
  justify-content: space-evenly;
}
/* All Users Table*/
.all-users-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.all-users-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.all-users-table th,
.all-users-tables td {
  padding: 12px 10px;
  color: white;
}
.all-users-table table,
th,
td {
  border: 2px solid rgb(160, 160, 160);
}
/*<=====================================================>*/

/** Edit Profile **/
.edit-profile-containe {
  display: flex;
}
.edit-profile-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.edit-profile-hedding {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  color: #ff2f2f;
}
/* fancy effect when clicking on input button */
.edit-profile-box .edit-profile-input-group {
  position: relative;
}
.edit-profile-box .edit-profile-input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.edit-profile-box .edit-profile-input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.edit-profile-box .edit-profile-input-group input:focus ~ label,
.edit-profile-box .edit-profile-input-group input:valid ~ label {
  top: -20px;
  left: 0;
  color: #2ea101;
  font-size: 12px;
}
/* avatar */
.edit-profile-avatar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.edit-profile-image {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  overflow: hidden;
}
/* buttons */
.edit-profile-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-profile-cancel-btn,
.edit-profile-done-btn {
  width: 130px;
  background: #1bb694;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
}
/*<=====================================================>*/

/** admin-old-attandance **/
@media screen and (min-width: 700px) {
  .admin-old-attandance-container {
    display: flex;
    color: #1a1a1a;
    font-family: "Mingzat", sans-serif;
  }
  .admin-old-attandance-heddings {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .admin-old-attandance-content {
    width: 100%;
  }
  .admin-old-attandance-tables {
    display: flex;
    justify-content: space-evenly;
  }
  /* All Users Table*/
  .admin-old-attandance-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .admin-old-attandance-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  .admin-old-attandance-table th,
  .admin-old-attandance-tables td {
    padding: 12px 10px;
    color: white;
  }
  .admin-old-attandance-table table,
  th,
  td {
    border: 2px solid rgb(160, 160, 160);
  }
  /*<=====================================================>*/

  /* User-Attendance */
  .user-attendance-container {
    display: flex;
  }
  .user-attandance-image {
    margin-left: 2vh;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}
