body {
  background-color: #1a1a1a;
  font-family: "Mingzat", sans-serif;
  background-size: cover;
}

/**Scroll Bar **/
/* width */
::-webkit-scrollbar {
  width: 13px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px;
  margin-bottom: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* hide spiners in number inputs */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* avatar */
.avatar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.avatar {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  overflow: hidden;
}
/** Global **/
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 130px;
  background: #1bb694;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hedding {
  margin-bottom: 30px;
  text-align: center;
  color: #ff2f2f;
}
.input-box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
/* fancy effect when clicking on input button */
.input-box .input-with-label {
  position: relative;
}
.input-box .input-with-label input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.input-box .input-with-label label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.input-box .input-with-label input:focus ~ label,
.input-box .input-with-label input:valid ~ label {
  top: -20px;
  left: 0;
  color: #2ea101;
  font-size: 12px;
}
/*<=====================================================>*/

/** All-Users **/

.all-users-container {
  display: flex;
  color: #1a1a1a;
  font-family: "Mingzat", sans-serif;
}
.heddings {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.all-users-content {
  width: 100%;
}
.all-users-tables {
  display: flex;
  justify-content: space-evenly;
}
/* All Users Table*/
.all-users-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.all-users-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.all-users-table th,
.all-users-tables td {
  padding: 12px 10px;
  color: white;
}
.all-users-table table,
th,
td {
  border: 2px solid rgb(160, 160, 160);
}
/*Dropdown to select role*/
.all-users-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1a1a1a1a;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
}
#all-users-standard-select {
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  width: 10ch;
  border: 1px solid var(--select-border);
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: 1.1;
  border-radius: 0.4em;
  background-color: #575555;
}
.all-users-select::-ms-expand {
  display: none;
}
.all-users-select select,
.all-users-select::after {
  grid-area: select;
}
.all-users-select:not(.all-users-select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .all-users-focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
select[multiple] {
  padding-right: 0;
  /*
   * Safari will not reveal an option
   * unless the select height has room to
   * show all of it
   * Firefox and Chrome allow showing
   * a partial option
   */
  height: 6rem;
  /*
   * Experimental - styling of selected options
   * in the multiselect
   * Not supported crossbrowser
   */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

/*<=====================================================>*/

/** Edit Profile **/
.edit-profile-container {
  display: flex;
}
/* avatar */

/*<=====================================================>*/

/** admin-old-attandance **/
.admin-old-attandance-container {
  display: flex;
  color: #1a1a1a;
  font-family: "Mingzat", sans-serif;
}
.admin-old-attandance-heddings {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.admin-old-attandance-content {
  width: 100%;
}
.admin-old-attandance-tables {
  display: flex;
  justify-content: space-evenly;
}
/* All Users Table*/
.admin-old-attandance-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.admin-old-attandance-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.admin-old-attandance-table th,
.admin-old-attandance-tables td {
  padding: 12px 10px;
  color: white;
}
.admin-old-attandance-table table,
th,
td {
  border: 2px solid rgb(160, 160, 160);
}
/*<=====================================================>*/
/** User-Attendance **/
.user-attendance-container {
  display: flex;
}
.user-attendance-input-group {
  display: flex;
  justify-content: space-between;
}
#boys-input {
  margin-right: 30px;
}
.user-attendence-avatar {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  background-color: transparent;
  overflow: hidden;
}
.user-attendence-hedding {
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
.user-attendence-btn {
  width: 130px;
  background: transparent;
  outline: 2px solid #4ad489;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #4ad489;
}
.user-attendence-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-attendence-btn:hover {
  background: #4ad489;
  color: #fff;
  transition: 0.5s;
}
.user-attendence-input-box {
  width: 400px;
  padding: 40px;
  background: #3b3e49;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  outline: 2px solid white;
}
/* fancy effect when clicking on input button */
.user-attendence-input-box .user-attendence-input-with-label {
  position: relative;
}
.user-attendence-input-box .user-attendence-input-with-label input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-attendence-input-box .user-attendence-input-with-label label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.user-attendence-input-box
  .user-attendence-input-with-label
  input:focus
  ~ label,
.user-attendence-input-box
  .user-attendence-input-with-label
  input:valid
  ~ label {
  top: -20px;
  left: 0;
  color: #2ea101;
  font-size: 12px;
}
/*/*Spin Button Removed*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
